---

---

<div
    class="w-full rounded-3xl p-6 flex flex-row animate-bg items-center justify-center"
>
    <div class="flex flex-col">
        <h2 class="text-2xl font-bold mb-4">Mattis NAUD ● 22'</h2>
        <p class="text-lg text-(--text-secondary-color)">
            Full Stack Web Developer with 4+ years of experience in building
            scalable web applications. Proficient in JavaScript, TypeScript,
            React, Node.js, and database management. Passionate about creating
            efficient and user-friendly solutions to complex problems.
        </p>
    </div>
    <lottie-player
        src="/animations/dev.json"
        background="transparent"
        speed="1"
        loop
        autoplay
        class="w-48 h-48 ml-6"
        />
</div>
