<h4 class="text-lg font-medium p-4 text-center frost-3d">
    Made with ❤️ by Mattis using <a href="https://astro.build/" target="_blank" rel="noopener noreferrer" class="underline hover:text-primary-500 transition">Astro</a>
</h4>
