@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

:root {
    --default-font-family: 'Roboto', sans-serif;

    --theme-bg-color: #10121b66;

    --border-color: #71779040;

    --category-title-color: #bfbfbf;
    --category-item-color: #e0e0e0;
    --category-item-hover-bg-color: #2d2f3a79;

    --desc-card-shadow: 0 4px 30px rgba(16, 18, 27, 0.66);

    --skill-bg-color: #1e1f2a46;
}

@layer utilities {
    .animate-bg {
        background: linear-gradient(90deg, #d8b4fe, #a78bfa, #818cf8);
        background-size: 300% 300%;
        animation: gradientShift 6s ease infinite;
    }

    @keyframes gradientShift {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }
}

@layer utilities {
  .glass-card {
    background: rgba(255, 255, 255, 0.12);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    box-shadow:
      0 8px 32px rgba(0, 0, 0, 0.15),
      inset 0 1px 0 rgba(255, 255, 255, 0.5),
      inset 0 -1px 0 rgba(255, 255, 255, 0.1),
      inset 0 0 30px 15px rgba(255, 255, 255, 0.15);
    position: relative;
    overflow: hidden;
  }

  .glass-card::before {
    content: '';
    position: absolute;
    inset: 0;
    top: 0;
    height: 1px;
    background: linear-gradient(
      90deg,
      transparent,
      rgba(255, 255, 255, 0.8),
      transparent
    );
    pointer-events: none;
  }

  .glass-card::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.8),
      transparent,
      rgba(255, 255, 255, 0.3)
    );
    pointer-events: none;
  }
}


.glass-scroll {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
}

.glass-scroll::-webkit-scrollbar {
  width: 8px;
}

.glass-scroll::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  backdrop-filter: blur(6px);
}

.glass-scroll::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.35);
}

.glass-scroll::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.4);
}
