---
import ButtonMac from "./ButtonMac.astro";
---

<div class="flex flex-row gap-4 border-b border-(--border-color) ml-8 cursor-pointer h-[60px] min-h-[60] items-center">
    <ButtonMac color="#f96057" />
    <ButtonMac color="#fdbc40" />
    <ButtonMac color="#34c84a" />
</div>