---
import "../styles/global.css";

//@ts-ignore ts flags this as an error but it works fine.
import bgVideo from "../assets/background.mp4";

import Left from "../components/LeftPanel/Left.astro";
import Card from "../components/Card.astro";
import Container from "../components/Container/Container.astro";
const { title } = Astro.props;
---

<html lang="fr" class="dark">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <script
      src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body class="min-h-screen flex items-center justify-center text-white px-4">
    <video
      autoplay
      loop
      muted
      playsinline
      class="absolute inset-0 w-full h-full object-cover -z-10"
    >
      <source src={bgVideo} type="video/mp4" />
    </video>
    <div class="h-full w-full flex items-center justify-center">
      <Card>
        <Left />
        <Container>
          <main>
            <slot />
          </main>
        </Container>
      </Card>
    </div>
  </body>
</html>
